<div class="container company">
  <% if user_company_signed_in? %>
    <% if @company && @company.job.length != 0 %>
    <div class="container candidate">
    <h2>Hey, <span class="highlight"><%= @company.name %></span>! </h2><br>
    <section class="candidate-info">
        <div class="row">
      <div class="col-sm-7 profile">
      <div class="row">
          <div class="col-6">
            <h3>Your Profile</h3>
          </div>
          <div class="col-6 text-right">
          <%= link_to "Edit company details", edit_company_path(@company) %>
          </div>
        </div>

            <strong>Company Name:</strong> <%= @company.name %><br>
            <strong>Company Industry:</strong> <%= @company.industry %><br>
            <strong>Company Size:</strong> <%= @company.size %><br>

      </div>
      <div class="offset-sm-1 col-sm-4 stats pt-5">
            Your profile has been viewed <strong>68</strong> times.
            <br><br>
            You expressed interest in <strong>5</strong> jobs.
          </div>
      </div>
      </section>

      <section class="posted-jobs">
      Here are your job listings:<br>
      Jobs posted: <% @company.job.each do |job| %>
        <br><%= link_to job.title, job_path(job) %>
      <% end %>
      </div>
      
    <% elsif @company.job.length == 0 %>
      <%= link_to "Add new job!", new_job_path %>
    <% end %>
    </div>
  <% elsif user_candidate_signed_in? %>
    <% if @candidate %>
      <%# show candidate stuff. don't know what's relevant yet %>
      <div class="container candidate">
        <h2>Hey, <span class="highlight"><%= @candidate.given_name %></span>! </h2>
        <br>
        <section class="candidate-info">
        <div class="row">
      <div class="col-sm-7 profile">
        <div class="row">
          <div class="col-6">
            <h3>Your Profile</h3>
          </div>
          <div class="col-6 text-right">
            <a href="/candidates/<%= @candidate.id %>/edit"><i class="material-icons">edit</i></a></div>
        </div>
        <strong>Given Name:</strong> <%= @candidate.given_name %> <br>
        <strong>Family Name:</strong> <%= @candidate.family_name %> <br>
        <strong>Years of experience:</strong> <%= @candidate.years_of_experience %> <br>
        <strong>Expected salary:</strong> <%= @candidate.expected_salary %> <br>
        <strong>User Candidate ID:</strong> <%= @candidate.user_candidate_id %> <br>
        <% if @candidate.resume_url != nil %>
          <strong>Resume</strong>
          <%= link_to "Link", @candidate.resume_url %>
        <% end %>
      </div>

          <div class="offset-sm-1 col-sm-4 stats pt-5">
            Your profile has been viewed <strong>68</strong> times.
            <br><br>
            You expressed interest in <strong>5</strong> jobs.
          </div>
        </div>
        </section>

        <section class="suggested-jobs">
            Hey lookie here! Just thought you would be interested in these jobs:
            <div class="board">
              123 ** help me to add suggested jobs here plz **
            </div>
        </section>
      </div>
    <% end %>
  <% end %>
</div>
