<% if user_company_signed_in? %>
  <% if @company && @company.job.length != 0 %>
    <p><%= @company.name %></p>
    Jobs posted: <% @company.job.each do |job| %>
      <a href="/jobs/<%= job.id %>">
        <p><%= job.title %></p>
      </a>
    <% end %>
  <% elsif @company.job.length == 0 %>
    <%= link_to "Add new job!", "/jobs/new" %>
  <% elsif !@company %>
    <%= link_to "Add company details", "/companies/new" %>
  <% end %>
<% elsif user_candidate_signed_in? %>
  <% if @candidate %>
    <%# show candidate stuff. don't know what's relevant yet %>
    <a href="/candidates/<%= @candidate.id %>/edit">Edit Profile</a>
  <% end %>
<% end %>
