<p id="notice"><%= notice %></p>

<div class="container jobs">
<h1>Jobs</h1>

<% if @company %>
  <div class="text-right">
    <%= link_to 'Post a New Job', new_job_path, class: "button-submit" %> <i class="material-icons">add_circle_outline</i>
  </div>
<% end %>

<div class="board">
      <% @jobs.each do |job|%>
      <div class="listing">
      <div class="position-title"><%= job.title %></div>
        <span class="position-salary"><%= job.offered_salary %></span> | <span class="location"><%= job.country %></span><br>
        <p class="description"><em><%= job.description %></em></p>
        <p class="skills">Skills Required: <% if @candidate %>
          <% count = 0 %>
            <% job.skills.each do |skill| %>
              <% if @candidate.skills.include? skill %>
                <% count += 1 %>
              <% end %>
            <% end %>
          <%= count.to_s + " / " %>
          <% end %>
          <%= job.skills.length %></p>
          <i class="material-icons">remove_red_eye</i>  <a href=<%= job_path(job.id) %>>View Job</a> <% if @company && @company == job.company %>
          | <%= link_to 'Edit', edit_job_path(job) %> or <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>
        </a>
        <% end %>
    </div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Offered Salary</th>
      <th>Country</th>
      <th>Skills <% if @candidate %>matched<% end %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.description %></td>
        <td><%= job.offered_salary %></td>
        <td><%= job.country %></td>
        <td>
          <% if @candidate %>
          <% count = 0 %>
            <% job.skills.each do |skill| %>
              <% if @candidate.skills.include? skill %>
                <% count += 1 %>
              <% end %>
            <% end %>
          <%= count.to_s + " / " %>
          <% end %>
          <%= job.skills.length %>
        </td>
        <% if @company && @company == job.company %>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>
