<p id="notice"><%= notice %></p>

<div class="container">
<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Offered Salary</th>
      <th>Country</th>
      <th>Skills <% if @candidate %>matched<% end %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.description %></td>
        <td><%= job.offered_salary %></td>
        <td><%= job.country %></td>
        <td>
          <% if @candidate %>
          <% count = 0 %>
            <% job.skills.each do |skill| %>
              <% if @candidate.skills.include? skill %>
                <% count += 1 %>
              <% end %>
            <% end %>
          <%= count.to_s + " / " %>
          <% end %>
          <%= job.skills.length %>
        </td>
        <% if @company && @company == job.company %>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @company %>
  <%= link_to 'New Job', new_job_path %>
<% end %>

</div>
