<%= title "Linkdr | Job Listing" %>


<h1>#<%= @job.id %> <%= @job.title %> </h1>
<div class="h1-after">&nbsp;</div>

<div class="container jobs">

<section class="job-info">
  <div class="row">
    <div class="col-sm-7 profile">
      <strong>Job Title:</strong> <%= @job.title %> <br>
      <strong>Salary Offered:</strong> $<%= @job.offered_salary %> <br>
      <strong>Country:</strong> <%= @job.country %> <br>
      <strong>Skills Requested:</strong>
      <%= render "skills/skills_pills" %><br>
      <strong>Description:</strong><br>
      <p class="description"><%= @job.description %></p>
      <div class="text-left">
      <% if @company %>
      <% if @company = @job.company %>
        <%= link_to 'Edit Job Listing', edit_job_path(@job) %>
      <% end %>
      <% end %>
      </div>
      <div class="text-right">
      <strong>posted</strong> <%= time_ago_in_words @job.created_at %> ago
      </div>
    </div>
    <div class="offset-sm-1 col-sm-4 stats pt-5">
      This job listing has been viewed <strong><%= @job.views %></strong> times.
      <br><br>
      <% if @matches %>
        You have <strong><%= @matches.length %></strong> interested candidates and <strong>
        <% result =  @matches.select { |match| match.job_like } %>
        <%= result.length %>
      </strong> relevant matches.
      <% end %>
      <% if @match %>
        <div>
          <% if @match.candidate_like == nil %>
          <%= form_with model: @match, local: true do |f| %>
          <p>
            <%= f.hidden_field :candidate_like, :value => true %>
          </p>
          <%= f.submit "I am interested in this job" %>
          <% end %>
          <%= form_with model: @match, local: true do |f| %>
          <p>
            <%= f.hidden_field :candidate_like, :value => false %>
          </p>
          <%= f.submit "I do not like this job" %>
        <% end %>
          <% elsif @match.candidate_like == true %>
            <br><p>You have <strong>liked</strong> this job.</p>
          <% else %>
            <br><p>You have <strong>rejected</strong> this job.</p>
          <% end %>
        </div>
      <% end %>
      <% if @company %>
      <br>
      <% if @company = @job.company %>
        <br><%= link_to 'Find some sexy candidates', job_path + '/matches/' %>

      <% end %>
      <% end %>
    </div>
  </div>
</section>

<% $matches_exist = 0 %>
<% if @matches %>
  <section class="suggested-jobs">
    <% @matches.each do |m| %>
      <% if m.job_like and m.candidate_like and m.job.company == current_user_company.company %>
        <% $matches_exist += 1 %>
        <% if $matches_exist == 1 %>
          <p>These candidates have liked your job and you have liked them. Why not take it further?</p>
        <% end %>
        <div class="board">
          <div class="listing">
            <div class="position-title">
              <%= link_to m.candidate.full_name, m.candidate %>
            </div>
            <p class="description"><%= m.candidate.bio %></p>
            <div class="actions">
              <i class="material-icons">remove_red_eye</i><%= link_to 'View Candidate', m.candidate %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>

<%= link_to 'Back', jobs_path %>
</div>
