<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Salary Offered:</strong>
  <%= @job.offered_salary %>
</p>

<p>
  <strong>Country:</strong>
  <%= @job.country %>
</p>

<p>
  <strong>Skills Requested:</strong>
  <% @job.skills.each do |skill| %>
    <%= content_tag(:span, skill.name, class: "badge badge-pill badge-primary") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
