<h1>#<%= @job.id %> <%= @job.title %> </h1>
<div class="h1-after">&nbsp;</div>

<div class="container jobs">

<section class="job-info">
  <div class="row">
    <div class="col-sm-7 profile">
      <strong>Job Title:</strong> <%= @job.title %> <br>
      <strong>Salary Offered:</strong> <%= @job.offered_salary %> <br>
      <strong>Country:</strong> <%= @job.country %> <br>
      <strong>Skills Requested:</strong>
      <%= render "skills/skills_pills" %><br>
      <strong>Description:</strong><br>
      <p class="description"><%= @job.description %></p>
      <div class="text-right">
      <strong>Job posted</strong> <%= time_ago_in_words @job.created_at %> ago
      </div>
    </div>
    <div class="offset-sm-1 col-sm-4 stats pt-5">
      This job listing has been viewed <strong>455</strong> times.
      <br><br>
      You have <strong>5</strong> interested candidates and <strong>88</strong> relevant matches.

      <% if @match %>
        <div>
          <% if @match.candidate_like == nil %>

          <% elsif @match.candidate_like == true %>
            <p>You have <strong>liked</strong> this job.</p>
          <% else %>
            <p>You have <strong>rejected</strong> this job.</p>
          <% end %>
        </div>
      <% end %>
      <% if @company %>
      <br><br>
      <% if @company = @job.company %>
      <br>
        <br><%= link_to 'Find some sexy candidates', job_path + '/matches/' %>
        <br><%= link_to 'Edit Job Listing', edit_job_path(@job) %>
      <% end %>
      <% end %>
    </div>
  </div>
</section>

<%= link_to 'Back', jobs_path %>
</div>
