
<div class="container candidate">
<h2>Edit your profile</h2>
<br>

<div class="form">
<%= form_with scope: :candidate, model: @candidate, local: true do |form| %>

<div class="row">
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :given_name %><br>
    <%= form.text_field :given_name %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :family_name %><br>
    <%= form.text_field :family_name %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="field">
      <%= form.label :bio %><br>
      <%= form.text_area :bio, rows: 5 %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :years_of_experience %><br>
    <%= form.text_field :years_of_experience %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :expected_salary %><br>
    <%= form.number_field :expected_salary %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="field">
      <%= form.label :skills %> <br>
      <%= form.collection_check_boxes(:skill_ids, @skills, :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
         <%=b.check_box + b.text%>
        <% end %>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :resume %>
    <%= form.file_field :resume %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= form.hidden_field :user_candidate_id %>
  </div>
  <div class="col-sm-12">
    <div class="actions row">
      <div class="col-sm-6">
          <%= link_to 'Back', url_for(:back) %>
      </div>
      <div class="col-sm-6 text-right">
        <%= form.submit %>
      </div>
  </div>
  </div>
</div>
<% end %>
</div>
</div>
