<h1>Candidate <%= @candidate.user_candidate_id %></h1>

<div class="container">
<section class="candidate-info">
  <div class="row">
    <div class="col-sm-7 profile">
    <div class="row">
      <div class="col-6"><h3>Your Profile</h3></div>
      <div class="col-6 text-right"><i class="material-icons">edit</i></div>
    </div>
      <strong>Given Name:</strong> <%= @candidate.given_name %> <br>
      <strong>Family Name:</strong> <%= @candidate.family_name %> <br>
      <strong>Years of experience:</strong> <%= @candidate.years_of_experience %> <br>
      <strong>Expected salary:</strong> <%= @candidate.expected_salary %> <br>
      <strong>User Candidate ID:</strong> <%= @candidate.user_candidate_id %> <br>
      <strong>Resume</strong>
      <a href=<%= @candidate.resume_url %>>Link</a>
    </div>
    <div class="col-sm-4 stats">
      Some stats
    </div>
  </div>
</section>
</div>
