<div class="container candidate">
  <h2>Hey, <span class="highlight"><%= @candidate.given_name %></span>! </h2>
  <br>
  <section class="candidate-info">
    <div class="row">
      <div class="col-sm-7 profile">
        <div class="row">
          <div class="col-6">
            <h3>Your Profile</h3>
          </div>
          <div class="col-6 text-right">
            <a href="/candidates/<%= @candidate.id %>/edit"><i class="material-icons">edit</i></a></div>
        </div>
        <strong>Given Name:</strong> <%= @candidate.given_name %> <br>
        <strong>Family Name:</strong> <%= @candidate.family_name %> <br>
        <strong>Years of experience:</strong> <%= @candidate.years_of_experience %> <br>
        <strong>Expected salary:</strong> <%= @candidate.expected_salary %> <br>
        <strong>User Candidate ID:</strong> <%= @candidate.user_candidate_id %> <br>
        <% if @candidate.resume_url != nil %>
          <strong>Resume</strong>
          <%= link_to "Link", @candidate.resume_url %>
        <% end %>
      </div>


    <div class="offset-sm-1 col-sm-4 stats pt-5">
      Your profile has been viewed <strong><%= @candidate.views %></strong> times.
      <br><br>
      You expressed interest in <strong>5</strong> jobs.
    </div>
  </div>
</section>

<section class="suggested-jobs">
  Hey lookie here! Just thought you would be interested in these jobs:
    <div class="board">
      <% @matches.each do |m|%>
      <a href=<%= job_path(m.job.id) %>>
      <div class="listing">
      <div class="row">
        <div class="col-1 pr-0"><i class="material-icons">remove_red_eye</i></div>
        <div class="col-11"><div class="position-title"><%= m.job.title %></div></div>
      </div>
        <span class="position-salary"><%= m.job.offered_salary %></span> | <span class="location"><%= m.job.country %></span><br>
        <% m.job.skills.each do |skill| %>
          <% if m.candidate.skills.include? skill %>
            <%= content_tag(:div, skill.name, class: "badge badge-pill badge-primary") %>
          <% else %>
            <%= content_tag(:span, skill.name, class: "badge badge-pill badge-secondary") %>
          <% end %>
        <% end %>
      </div>
        </a>
        <% end %>
    </div>
</section>

</div>
