<h1>Chat</h1>
<div class="h1-after">&nbsp;</div>

<div class="container">
  <p class="text-center"><span class="font-weight-bold"><%= @room.match.candidate.given_name %> <%= @room.match.candidate.family_name %></span> is applying for the role of
  <span class="font-weight-bold"><%= @room.match.job.title %></span> at
  <span class="font-weight-bold"><%= @room.match.job.company.name %></span>
  </p> 

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto">
               <span class="user-name"><%= room_message.name %>:</span>
            </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1 px-3">
                  <%= room_message.message %>
                </p>

                <div class="text-right">
                  <small>
                  <em class="timestamp">
                    <%= time_ago_in_words(room_message.updated_at)%> ago
                    </em>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @room_message,  remote: true do |form| %>
      <div id="the-input-box" class="input-group">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input col-9',
                                   autocomplete: 'off'
                                 } %>
        <div class="input-group-append col-3">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>

</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <span data-role="user-name"></span>:
      </div>
        

      <div class="col">
        <div class="message-content">
          <p class="mb-1 px-3" data-role="message-text">
          </p>

          <div class="text-right">
            <small data-role="message-date">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>