<h4>List of job which matches your skillsets</h4>

<table>
	<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Offered Salary</th>
    <th>Country</th>
    <th>Like Button</th>
  </tr>

	<% @match.each do |m|%>
		<tr>
			<td><%= m.job.title%></td>
			<td><%= m.job.description%></td>
			<td><%= m.job.offered_salary %></td>
			<td><%= m.job.country %></td>
			<td>
				<% if m.candidate_like == nil %>
					<%= form_for :candidate_like do |f| %>
						<p>
						<%= f.hidden_field :match_id, :value => m.id %>
						</p>
  					<%= f.submit "Please RSVP" %>
					<% end %>
				<% elsif m.candidate_like == true %>
					<%= form_for :candidate_like do |f| %>
						<p>
						<%= f.hidden_field :match_id, :value => m.id %>
						</p>
  					<%= f.submit "Unlike" %>
					<% end %>
				<% else%>
					<%= form_for :candidate_like do |f| %>
						<p>
						<%= f.hidden_field :match_id, :value => m.id %>
						</p>
					<%= f.submit "Like" %>
					<% end %>
				<% end %>


			</td>
		<tr>
	<% end %>
</table>

<%= button_to 'Edit profile', edit_candidate_path(@candidate), :method => "get" %>
