<h3>Potential Candidate</h3>
<h5>Candidate Name</h5>
<p><%= @match.candidate.given_name %> <%= @match.candidate.family_name %></p>
<h5>JOB DESCRIPTION:</h5>
<p><%= @match.job.description %></p>
<h5>Offered Salary</h5>
<p><%= @match.job.offered_salary %></p>
<h5>Country</h5>
<p><%= @match.job.country %></p>
<h5>DO YOU LIKE IT:</h5>
<p>Yay</p><p>Boo</p>
