
<h1>#<%= @match.job.id %> <%= @match.job.title %> </h1>
<div class="h1-after companies">&nbsp;</div>

<div class="container jobs">

<section class="candidate-info">
  <div class="row">
    <div class="col-sm-7 profile">
      <strong>Candidate Name:</strong> <%= @match.candidate.given_name %> <%= @match.candidate.family_name %> <br>
      <strong>Candidate Bio:</strong> <br>
      <p><%= @match.candidate.bio %></p>
      <strong>Years Of Experience:</strong> <%= @match.candidate.years_of_experience %> <br>
      <strong>Expected Salary: </strong> <%= @match.candidate.expected_salary %> <br>
      <strong>Skills to pay the bills: </strong>
      <% @candidate = @match.candidate %>
      <% @job = @match.job %>
      <%= render "skills/skills_pills" %>
    </div>
    <div class="offset-sm-1 col-sm-4 stats pt-5">
      <%= form_with model: @match, local: true do |f| %>
        <p>
          <%= f.hidden_field :job_like, :value => true %>
        </p>
        <%= f.submit "I like this candidate" %>
      <% end %>
        <%= form_with model: @match, local: true do |f| %>
        <p>
          <%= f.hidden_field :job_like, :value => false %>
        </p>
        <%= f.submit "I do not like this candidate" %>
      <% end %>
    </div>
  </div>
</section>
