<!DOCTYPE html>
<html>
  <head>
    <title>Linkdr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= 'home' if @home %>">
  <div class="container">
    <% if @home %>
    <% elsif %>
    <nav class="navbar">
        <%= image_tag('/logo.png') %>
        <div class="text-right">
          <% if request.path.start_with?('/companies') %>
              <i class="material-icons header-icon">supervisor_account</i> 
              <em>companies</em>
          <% elsif %>
              <i class="material-icons header-icon">face</i>
              <em>candidate</em>
          <% end %>
        </div>
    </nav>
    <% end %> 
  </div>
      <%= yield %>
  <footer>
    <div class="container text-center">
      &copy; <strong>SBRWZ</strong> 2020. All Rights Reserved.
    </div>  
  </footer>
  </body>
</html>
