<!DOCTYPE html>
<html>
  <head>
    <title>Linkdr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar">
        <%= image_tag('/logo.png') %>
    </nav>
  </div>
      <%= yield %>
  <footer>
    <div class="container text-center">
      &copy; <strong>SBRWZ</strong> 2020. All Rights Reserved.
    </div>  
  </footer>
  </body>
</html>
