<!DOCTYPE html>
<html>
  <head>
    <title>Linkdr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= 'home' if @home %>">
  <div class="container">
    <% if @home %>
      <nav class="navbar">
      <% if user_candidate_signed_in? || user_company_signed_in? %>
        they are signed in
        <% elsif %>
            <%= link_to "/candidate/sign_in" do %>
              candidate log in
            <% end %>
          <%= link_to "/company/sign_in" do %>
              company log in
            <% end %> 
      <% end %>
      </nav>
    <% elsif %>
    <nav class="navbar">
        <%= link_to "/" do %>
         <%= image_tag('/logo.png') %>
        <% end %>
        <div class="text-right">
          <% if user_company_signed_in? %>
             <i class="material-icons header-icon">supervisor_account</i> <em>companies</em> | <%= link_to 'log out', destroy_user_company_session_url, method: :delete %>
          <% elsif user_candidate_signed_in? %>
            <i class="material-icons header-icon">face</i> <em>candidate</em> | <%= link_to 'log out', destroy_user_candidate_session_url, method: :delete %>
          <% end %>
        </div>
    </nav>
    <% end %> 
  </div>
  
      <%= yield %>

 <% if @home %>
    <% elsif %>
  <footer>
    <div class="container">
      <div class="row d-flex">
        <div class="col-sm-4"><h3>About</h3> 
          &copy; <strong>SBRWZ</strong> 2020.<br>All Rights Reserved.</div>
        <div class="col-sm-4"><h3>Links</h3> 
        <%= link_to "/company/sign_in" do %>Company<% end %> | <%= link_to "/candidate/sign_in" do %>Candidate<% end %></div>
        <div class="col-sm-4"><h3>Contact</h3>
        Please do not contact us.</div>
      </div>
    </div>  
  </footer>
      <% end %>
  </body>
</html>
